#Features{
    .row{
        margin-top: 50px;
        gap: 40px;
        justify-content: center;
    }
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .section-header{
            max-width: 700px;
            text-align: center;
            h2{
                font-size: 42px;
                margin-bottom: 20px;
            }
            p{
                color: #777;
            }
        }

    }
}

@media screen and (max-width:992px) {
    #Features{
        .container{

            .card{
                width: 250px;
            }}}
}